<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
      <h1>List of Usernames</h1>
      <ul style="list-style: none">
        <% usernames.forEach((username) => { %>
            <li>
              <%= username.username %> 
           
                <a href="/deleteUser/<%= username.id %>" >Delete user</a>
           
            </li>
          <% }) %>
      </ul>

     <a href='/new'>Add user </a>
      <form action="/search" method="get">
      <label for="search"></label>
        <input type="text" name="search" id="search"></input>
        <button type="submit">Search users</button>
      </form>
    </body>
  </html>
